
.top_headlines{
    display: flex;
    width: 150px;
    height: 45px;
    background-color: whitesmoke;
    align-items: center;
    border: 1px solid;
    border-right: 0px;
    border-radius: 5px;
    border-color: whitesmoke;
    color: black;
    transition: ease-in-out 400ms;
    margin-top: 24px;
    float: right;
    text-align: center;
    font-size: medium;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-around;
}

.top_headlines:hover{
    transform: translate(5, 20) scale(100, 110);
}

.top_heading{
    font-size: medium;
    font-weight: 600;
    border: 1px solid;
    border-color: black;
    margin-top: 20px;
}

